@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Timeleft Murder Bot</h1>
    <p>This webpage belongs to the Timeleft Murder Bot. The Murder Bot was created to remove 
        inactive participants from the Timeleft WhatsApp group. This helps the group stay under the
        maximum of 1024 participants.</p>
</div>
